body {
  background-color: skyblue;
  margin: 0;
  font-family: Arial;
}

div{
  background-color:;
  height: 50px;

  background-repeat: no-repeat;
  background-position: 400px;
}

li {
  display: inline-block;
  background-color: orange;
  height: 30px;
  margin: 0;
  padding: 5px;
  line-height: 30px;
}

li:hover {
  background-color: yellowgreen;
}

a {
  text-decoration: none;
}

h1, p {
 width: 350px;
 padding: 25px;
 background-color: ;
}

h1 {
  margin: 0;
}
p {
  padding: 0 25px;
  margin: 0;


}

b {
  color: white;
  background-color: black;
  height: 50px;

}

#primera {
  height: 40px;
}

#segona {
  height: 550px;

  background-image:url(img/img-hero-full-list.png);
}

#tercera {
  height: 641px;

  background-image:url(img/allinone.jpg);
}

#quarta {
  height: 500px;

  background-image:url(img/curator-short.png);
}

#cinquena {
  height: 550px;

  background-image:url(img/curator-short.png);
}

#sisena {
  height: 550px;

  background-image:url(img/curator-short.png);
}

#setena {
  height: 643px;


  background-image:url(img/curator-short.png);
}

#vuitena {
  height: 200px;

    text-align: center;
}

#boto {
  /* --DIMENSIONS---- */
  height: 80px;
  width: 80px;

  /* --POSICIONAMENT---- */
  position: fixed;
  bottom: 50px;
  right: 100px;

  /* --TEXT---- */
  text-align: center;
  line-height: 90px;
  font-size: 62px;
  color: white;

  /* --CAIXA---- */
  border-radius: 35px;
  box-shadow: 2px 2px 5px black;
  background: url(img/sources.png);
  background-position: -220px -6px;
  opacity: 0.9;
}

img {
  padding: 25px;
  background:;
}



.blanca {
  background-color: #FFF;
}

.verda {
  background-color: tomato;
}

.fosca {
  background-color: #333;
}

.clara {
  background-color: #EEECEE;
}
